In [1]:
import pandas as pd

In [2]:
# definimos un diccionario que luego convertiremos a DataFrame. Recordemos que esta era la forma que utilizamos en las lecciones del módulo 2 de web scraping
data_diccionario = {
    'Nombre': ['Ana', 'Juan', 'María', 'Pedro'],
    'Edad': [25, 30, 28, 35],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

# convertimos el diccionario en DataFrame usando el método 'pd.DataFrame'
df_diccionario = pd.DataFrame(data_diccionario)

# mostramos el DataFrame. Recordad que para ver las 5 primeras filas usaremos el método '.head()' 
df_diccionario

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  María    28   Valencia
3  Pedro    35    Sevilla

In [3]:
# definimos una lista de diccionarios que luego usaremos para convertir en DataFrame
data_lista = [
    {'Nombre': 'Ana', 'Edad': 25, 'Ciudad': 'Madrid'},
    {'Nombre': 'Juan', 'Edad': 30, 'Ciudad': 'Barcelona'},
    {'Nombre': 'María', 'Edad': 28, 'Ciudad': 'Valencia'},
    {'Nombre': 'Pedro', 'Edad': 35, 'Ciudad': 'Sevilla'}
]

# usamos el método 'pd.DataFrame' para convertir la lista de diccionarios a DataFrame
df_lista = pd.DataFrame(data_lista)

# mostramos el DataFrame, en este caso usaremos el método '.tail()' para mostrar las últimas 5 filas. 
df_lista

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  María    28   Valencia
3  Pedro    35    Sevilla

# Ejercicios

1. Crea una serie con números correlativos entre 1 y 12 inclusive (puedes hacerlo como lista o diccionario):

**Cambia el indice de la serie anteriormente creada para que comience con el numero 20.

**Nuevamente cambia el indice de la serie, esta vez con una lista que haga referencia a los meses del año (tenemos 12 elementos como la cantidad de meses del año).

**Muestra los valores que están en la posición 3 y 8 de mi serie.

**Muestra los valores que están etiquetados en enero y agosto.

**Muestra sus valores, indices, forma, tamaño y el tipo de elementos de la serie.

In [4]:
lista = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [5]:
serie_lista1 = pd.Series(lista)
serie_lista1

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7     9
8    10
9    11
dtype: int64

In [6]:
serie_lista2 = pd.Series(lista, index = [20, 21, 22, 23, 24, 25, 26, 27, 28, 29])
serie_lista2

20     2
21     3
22     4
23     5
24     6
25     7
26     8
27     9
28    10
29    11
dtype: int64

In [7]:
serie_lista3 = pd.Series(lista, index = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Setiembre", "Octubre"])
serie_lista3

Enero         2
Febrero       3
Marzo         4
Abril         5
Mayo          6
Junio         7
Julio         8
Agosto        9
Setiembre    10
Octubre      11
dtype: int64

In [8]:
print("El valor que está en posición 3 es:", serie_lista3[3])  

print("---------------------------")

print("El valor que está en posición 8 es:", serie_lista3[8])

El valor que está en posición 3 es: 5
---------------------------
El valor que está en posición 8 es: 10

C:\Users\InvitadoLaptop\AppData\Local\Temp\ipykernel_7508\620134441.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("El valor que está en posición 3 es:", serie_lista3[3])
C:\Users\InvitadoLaptop\AppData\Local\Temp\ipykernel_7508\620134441.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("El valor que está en posición 8 es:", serie_lista3[8])

In [9]:
print("El valor que está en posición Enero es:", serie_lista3["Enero"])  

print("---------------------------")

print("El valor que está en posición Agosto es:", serie_lista3["Agosto"])

El valor que está en posición Enero es: 2
---------------------------
El valor que está en posición Agosto es: 9

In [10]:
# recordemos la serie
display("La serie con la que vamos a trabajar es:", serie_lista3)
print("---------------------------")

# utilizamos el método index que nos va a devolver todos los índices 
# fijaos como en este caso nos ha devuelto todos los índices de nuestra Serie, es decir, los nombres de las alumnas
print(f"El método 'index' nos devuelve los índices de la Serie: {serie_lista3.index}")
print("---------------------------")

# ahora utilizamos el método 'values' nos devuelve todos los valores de la Serie
# en este caso los números que teníamos
print(f"El método 'values' nos devuelve los valores de la Serie: {serie_lista3.values}")
print("---------------------------")

#utilizando el método 'shape' nos devuelve el número de "filas" que tenemos en la Serie
print(f"El método 'shape' nos devuelve la forma de la Serie: {serie_lista3.shape}")
print("---------------------------")

#utilizando el método 'size' nos devuelve el número de elementos que tenemos en la Serie
print(f"El método 'size' nos devuelve el número de elementos de la Serie: {serie_lista3.size}")
print("---------------------------")

#utilizando el método 'dtypes' nos devuelve el tipo de datos de la Serie
print(f"El método 'dtypes' nos devuelve el tipo de datos de la Serie: {serie_lista3.dtypes}")

'La serie con la que vamos a trabajar es:'

Enero         2
Febrero       3
Marzo         4
Abril         5
Mayo          6
Junio         7
Julio         8
Agosto        9
Setiembre    10
Octubre      11
dtype: int64

---------------------------
El método 'index' nos devuelve los índices de la Serie: Index(['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
       'Agosto', 'Setiembre', 'Octubre'],
      dtype='object')
---------------------------
El método 'values' nos devuelve los valores de la Serie: [ 2  3  4  5  6  7  8  9 10 11]
---------------------------
El método 'shape' nos devuelve la forma de la Serie: (10,)
---------------------------
El método 'size' nos devuelve el número de elementos de la Serie: 10
---------------------------
El método 'dtypes' nos devuelve el tipo de datos de la Serie: int64

2. Abre el fichero de rating-and-performance con el método que sea más correcto. Además muestra las 5 primeras filas del DataFrame.

2.1. Cread una nueva columna donde tengamos la diferencia entre el precio al que vende el e-commerce menos el precio del minorista. Insertad esta columna en la posición dos.

2.2. Pongamos en práctica el loc e iloc:

**Usando el loc:

  Extraed todas las filas de la columna "price". ¿De qué tipo es el resultado obtenido?

  Extraed todas las filas de las columnas "price" y "retail_price". ¿De qué tipo es el resultado obtenido?

  Extraed las filas pares, de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count".

  Extraed las las filas cuyo precio sea mayor que 10 y sus unidades vendidas ("units_sold") sea mayor que 5000.

**Usando el iloc (sacaremos los mismos resultados que con el loc):

  Extraed todas las filas de la columna "price".

  Extraed todas las filas de las columnas "price" y "retail_price".

  Extraed las filas pares, de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count".

In [25]:
df_csv = pd.read_csv('rating-and-performance.csv')
df_csv

,index,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,1568,Nouvelle Mode Femmes Bohême Pissenlit Imprimer...,New Fashion Women Bohemia Dandelion Print Tee ...,6.00,9,EUR,10000,1,4.08,1367,...,5316,4.224605,5b507899ab577736508a0782,0,NaN,https://www.wish.com/c/5d5fadc99febd9356cbc52ee,https://contestimg.wish.com/api/webimage/5d5fa...,5d5fadc99febd9356cbc52ee,summer,2020-08
1569,1569,10 couleurs femmes shorts d'été lacent ceintur...,10 Color Women Summer Shorts Lace Up Elastic W...,2.00,56,EUR,100,1,3.07,28,...,4435,3.696054,54d83b6b6b8a771e478558de,0,NaN,https://www.wish.com/c/5eccd22b4497b86fd48f16b4,https://contestimg.wish.com/api/webimage/5eccd...,5eccd22b4497b86fd48f16b4,summer,2020-08
1570,1570,Nouveautés Hommes Siwmwear Beach-Shorts Hommes...,New Men Siwmwear Beach-Shorts Men Summer Quick...,5.00,19,EUR,100,0,3.71,59,...,210,3.961905,5b42da1bf64320209fc8da69,0,NaN,https://www.wish.com/c/5e74be96034d613d42b52dfe,https://contestimg.wish.com/api/webimage/5e74b...,5e74be96034d613d42b52dfe,summer,2020-08
1571,1571,Mode femmes d'été sans manches robes col en V ...,Fashion Women Summer Sleeveless Dresses V Neck...,13.00,11,EUR,100,0,2.50,2,...,31,3.774194,5d56b32c40defd78043d5af9,0,NaN,https://www.wish.com/c/5eda07ab0e295c2097c36590,https://contestimg.wish.com/api/webimage/5eda0...,5eda07ab0e295c2097c36590,summer,2020-08
1572,1572,Pantalon de yoga pour femmes à la mode Slim Fi...,Fashion Women Yoga Pants Slim Fit Fitness Runn...,7.00,6,EUR,100,1,4.07,14,...,7023,4.235939,5a409cf87b584e7951b2e25f,0,NaN,https://www.wish.com/c/5e857321f53c3d2d8f25e7ed,https://contestimg.wish.com/api/webimage/5e857...,5e857321f53c3d2d8f25e7ed,summer,2020-08

In [26]:
df_csv["diference"] = df_csv["price"]-df_csv["retail_price"]

In [27]:
df_csv

,index,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,...,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month,diference
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,...,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08,2.00
1,1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,...,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08,-14.00
2,2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,...,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08,-35.00
3,3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,...,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08,0.00
4,4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,...,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08,-0.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,1568,Nouvelle Mode Femmes Bohême Pissenlit Imprimer...,New Fashion Women Bohemia Dandelion Print Tee ...,6.00,9,EUR,10000,1,4.08,1367,...,4.224605,5b507899ab577736508a0782,0,NaN,https://www.wish.com/c/5d5fadc99febd9356cbc52ee,https://contestimg.wish.com/api/webimage/5d5fa...,5d5fadc99febd9356cbc52ee,summer,2020-08,-3.00
1569,1569,10 couleurs femmes shorts d'été lacent ceintur...,10 Color Women Summer Shorts Lace Up Elastic W...,2.00,56,EUR,100,1,3.07,28,...,3.696054,54d83b6b6b8a771e478558de,0,NaN,https://www.wish.com/c/5eccd22b4497b86fd48f16b4,https://contestimg.wish.com/api/webimage/5eccd...,5eccd22b4497b86fd48f16b4,summer,2020-08,-54.00
1570,1570,Nouveautés Hommes Siwmwear Beach-Shorts Hommes...,New Men Siwmwear Beach-Shorts Men Summer Quick...,5.00,19,EUR,100,0,3.71,59,...,3.961905,5b42da1bf64320209fc8da69,0,NaN,https://www.wish.com/c/5e74be96034d613d42b52dfe,https://contestimg.wish.com/api/webimage/5e74b...,5e74be96034d613d42b52dfe,summer,2020-08,-14.00
1571,1571,Mode femmes d'été sans manches robes col en V ...,Fashion Women Summer Sleeveless Dresses V Neck...,13.00,11,EUR,100,0,2.50,2,...,3.774194,5d56b32c40defd78043d5af9,0,NaN,https://www.wish.com/c/5eda07ab0e295c2097c36590,https://contestimg.wish.com/api/webimage/5eda0...,5eda07ab0e295c2097c36590,summer,2020-08,2.00
1572,1572,Pantalon de yoga pour femmes à la mode Slim Fi...,Fashion Women Yoga Pants Slim Fit Fitness Runn...,7.00,6,EUR,100,1,4.07,14,...,4.235939,5a409cf87b584e7951b2e25f,0,NaN,https://www.wish.com/c/5e857321f53c3d2d8f25e7ed,https://contestimg.wish.com/api/webimage/5e857...,5e857321f53c3d2d8f25e7ed,summer,2020-08,1.00

In [28]:
# Obtener la columna 'resta'
resta_columna =df_csv.pop('diference')

# Insertar la columna 'resta' en la posición 2
df_csv.insert(3, 'diference', resta_columna)

df_csv

,index,title,title_orig,diference,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,2.00,16.00,14,EUR,100,0,3.76,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,-14.00,8.00,22,EUR,20000,1,3.45,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,-35.00,8.00,43,EUR,100,0,3.57,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,0.00,8.00,8,EUR,5000,1,4.03,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,-0.28,2.72,3,EUR,100,1,3.10,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,1568,Nouvelle Mode Femmes Bohême Pissenlit Imprimer...,New Fashion Women Bohemia Dandelion Print Tee ...,-3.00,6.00,9,EUR,10000,1,4.08,...,5316,4.224605,5b507899ab577736508a0782,0,NaN,https://www.wish.com/c/5d5fadc99febd9356cbc52ee,https://contestimg.wish.com/api/webimage/5d5fa...,5d5fadc99febd9356cbc52ee,summer,2020-08
1569,1569,10 couleurs femmes shorts d'été lacent ceintur...,10 Color Women Summer Shorts Lace Up Elastic W...,-54.00,2.00,56,EUR,100,1,3.07,...,4435,3.696054,54d83b6b6b8a771e478558de,0,NaN,https://www.wish.com/c/5eccd22b4497b86fd48f16b4,https://contestimg.wish.com/api/webimage/5eccd...,5eccd22b4497b86fd48f16b4,summer,2020-08
1570,1570,Nouveautés Hommes Siwmwear Beach-Shorts Hommes...,New Men Siwmwear Beach-Shorts Men Summer Quick...,-14.00,5.00,19,EUR,100,0,3.71,...,210,3.961905,5b42da1bf64320209fc8da69,0,NaN,https://www.wish.com/c/5e74be96034d613d42b52dfe,https://contestimg.wish.com/api/webimage/5e74b...,5e74be96034d613d42b52dfe,summer,2020-08
1571,1571,Mode femmes d'été sans manches robes col en V ...,Fashion Women Summer Sleeveless Dresses V Neck...,2.00,13.00,11,EUR,100,0,2.50,...,31,3.774194,5d56b32c40defd78043d5af9,0,NaN,https://www.wish.com/c/5eda07ab0e295c2097c36590,https://contestimg.wish.com/api/webimage/5eda0...,5eda07ab0e295c2097c36590,summer,2020-08
1572,1572,Pantalon de yoga pour femmes à la mode Slim Fi...,Fashion Women Yoga Pants Slim Fit Fitness Runn...,1.00,7.00,6,EUR,100,1,4.07,...,7023,4.235939,5a409cf87b584e7951b2e25f,0,NaN,https://www.wish.com/c/5e857321f53c3d2d8f25e7ed,https://contestimg.wish.com/api/webimage/5e857...,5e857321f53c3d2d8f25e7ed,summer,2020-08

Extraed todas las filas de la columna "price". ¿De qué tipo es el resultado obtenido?

In [29]:
price =df_csv.loc[::,"price"]
price

0       16.00
1        8.00
2        8.00
3        8.00
4        2.72
        ...
1568     6.00
1569     2.00
1570     5.00
1571    13.00
1572     7.00
Name: price, Length: 1573, dtype: float64

 Extraed todas las filas de las columnas "price" y "retail_price". ¿De qué tipo es el resultado obtenido?

In [30]:
price2 =df_csv.loc[::,"price":"retail_price"]
price2

      price  retail_price
0     16.00            14
1      8.00            22
2      8.00            43
3      8.00             8
4      2.72             3
...     ...           ...
1568   6.00             9
1569   2.00            56
1570   5.00            19
1571  13.00            11
1572   7.00             6

[1573 rows x 2 columns]

  Extraed las filas pares, de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count".

In [31]:
cols = ["rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count"]

In [32]:
df_csv.loc[::2, cols]

,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count
0,3.76,54,26.0,8.0,10.0,1.0,9.0
2,3.57,14,5.0,4.0,2.0,0.0,3.0
4,3.10,20,6.0,4.0,2.0,2.0,6.0
6,3.84,6742,3172.0,1352.0,971.0,490.0,757.0
8,3.47,15,6.0,2.0,3.0,1.0,3.0
...,...,...,...,...,...,...,...
1564,3.38,414,156.0,58.0,72.0,45.0,83.0
1566,3.54,28,7.0,11.0,4.0,2.0,4.0
1568,4.08,1367,722.0,293.0,185.0,77.0,90.0
1570,3.71,59,24.0,15.0,8.0,3.0,9.0
1572,4.07,14,8.0,3.0,1.0,0.0,2.0

In [33]:
df_csv.columns

Index(['index', 'title', 'title_orig', 'diference', 'price', 'retail_price',
       'currency_buyer', 'units_sold', 'uses_ad_boosts', 'rating',
       'rating_count', 'rating_five_count', 'rating_four_count',
       'rating_three_count', 'rating_two_count', 'rating_one_count',
       'badges_count', 'badge_local_product', 'badge_product_quality',
       'badge_fast_shipping', 'tags', 'product_color',
       'product_variation_size_id', 'product_variation_inventory',
       'shipping_option_name', 'shipping_option_price', 'shipping_is_express',
       'countries_shipped_to', 'inventory_total', 'has_urgency_banner',
       'urgency_text', 'origin_country', 'merchant_title', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'merchant_has_profile_picture',
       'merchant_profile_picture', 'product_url', 'product_picture',
       'product_id', 'theme', 'crawl_month'],
      dtype='object')

In [34]:
df_csv.loc[::2, "rating":"rating_one_count"]

,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count
0,3.76,54,26.0,8.0,10.0,1.0,9.0
2,3.57,14,5.0,4.0,2.0,0.0,3.0
4,3.10,20,6.0,4.0,2.0,2.0,6.0
6,3.84,6742,3172.0,1352.0,971.0,490.0,757.0
8,3.47,15,6.0,2.0,3.0,1.0,3.0
...,...,...,...,...,...,...,...
1564,3.38,414,156.0,58.0,72.0,45.0,83.0
1566,3.54,28,7.0,11.0,4.0,2.0,4.0
1568,4.08,1367,722.0,293.0,185.0,77.0,90.0
1570,3.71,59,24.0,15.0,8.0,3.0,9.0
1572,4.07,14,8.0,3.0,1.0,0.0,2.0

 Extraed las las filas cuyo precio sea mayor que 10 y sus unidades vendidas ("units_sold") sea mayor que 5000.

In [35]:
df_csv2 = df_csv.loc[(df_csv.price > 10) & (df_csv.units_sold > 5000), ['price', 'units_sold']]
df_csv2

      price  units_sold
16     11.0       10000
77     11.0       10000
89     11.0       20000
109    11.0       10000
111    14.0       10000
...     ...         ...
1533   16.0       10000
1534   11.0       20000
1537   11.0       10000
1548   12.0       10000
1558   13.0       10000

[82 rows x 2 columns]

In [36]:
cols = list(df_csv.columns)
cols.index("rating")
pd.Series(df_csv.columns)

0                            index
1                            title
2                       title_orig
3                        diference
4                            price
5                     retail_price
6                   currency_buyer
7                       units_sold
8                   uses_ad_boosts
9                           rating
10                    rating_count
11               rating_five_count
12               rating_four_count
13              rating_three_count
14                rating_two_count
15                rating_one_count
16                    badges_count
17             badge_local_product
18           badge_product_quality
19             badge_fast_shipping
20                            tags
21                   product_color
22       product_variation_size_id
23     product_variation_inventory
24            shipping_option_name
25           shipping_option_price
26             shipping_is_express
27            countries_shipped_to
28                 inventory_total
29              has_urgency_banner
30                    urgency_text
31                  origin_country
32                  merchant_title
33                   merchant_name
34          merchant_info_subtitle
35           merchant_rating_count
36                 merchant_rating
37                     merchant_id
38    merchant_has_profile_picture
39        merchant_profile_picture
40                     product_url
41                 product_picture
42                      product_id
43                           theme
44                     crawl_month
dtype: object

In [37]:
df_csv.iloc[::2, 7:14]

,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count
0,100,0,3.76,54,26.0,8.0,10.0
2,100,0,3.57,14,5.0,4.0,2.0
4,100,1,3.10,20,6.0,4.0,2.0
6,50000,0,3.84,6742,3172.0,1352.0,971.0
8,100,1,3.47,15,6.0,2.0,3.0
...,...,...,...,...,...,...,...
1564,1000,0,3.38,414,156.0,58.0,72.0
1566,100,1,3.54,28,7.0,11.0,4.0
1568,10000,1,4.08,1367,722.0,293.0,185.0
1570,100,0,3.71,59,24.0,15.0,8.0
1572,100,1,4.07,14,8.0,3.0,1.0

 Extraed todas las filas de la columna "price".

In [38]:
price3 =df_csv.iloc[::, 4]
price3

0       16.00
1        8.00
2        8.00
3        8.00
4        2.72
        ...
1568     6.00
1569     2.00
1570     5.00
1571    13.00
1572     7.00
Name: price, Length: 1573, dtype: float64

Extraed todas las filas de las columnas "price" y "retail_price".

In [39]:
price4 =df_csv.iloc[::, 4:6]
price4

      price  retail_price
0     16.00            14
1      8.00            22
2      8.00            43
3      8.00             8
4      2.72             3
...     ...           ...
1568   6.00             9
1569   2.00            56
1570   5.00            19
1571  13.00            11
1572   7.00             6

[1573 rows x 2 columns]

Extraed las filas pares, de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count".

In [42]:
df_csv.columns

Index(['index', 'title', 'title_orig', 'diference', 'price', 'retail_price',
       'currency_buyer', 'units_sold', 'uses_ad_boosts', 'rating',
       'rating_count', 'rating_five_count', 'rating_four_count',
       'rating_three_count', 'rating_two_count', 'rating_one_count',
       'badges_count', 'badge_local_product', 'badge_product_quality',
       'badge_fast_shipping', 'tags', 'product_color',
       'product_variation_size_id', 'product_variation_inventory',
       'shipping_option_name', 'shipping_option_price', 'shipping_is_express',
       'countries_shipped_to', 'inventory_total', 'has_urgency_banner',
       'urgency_text', 'origin_country', 'merchant_title', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'merchant_has_profile_picture',
       'merchant_profile_picture', 'product_url', 'product_picture',
       'product_id', 'theme', 'crawl_month'],
      dtype='object')

In [44]:
df_csv.iloc[::2, 9:16:1]

,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count
0,3.76,54,26.0,8.0,10.0,1.0,9.0
2,3.57,14,5.0,4.0,2.0,0.0,3.0
4,3.10,20,6.0,4.0,2.0,2.0,6.0
6,3.84,6742,3172.0,1352.0,971.0,490.0,757.0
8,3.47,15,6.0,2.0,3.0,1.0,3.0
...,...,...,...,...,...,...,...
1564,3.38,414,156.0,58.0,72.0,45.0,83.0
1566,3.54,28,7.0,11.0,4.0,2.0,4.0
1568,4.08,1367,722.0,293.0,185.0,77.0,90.0
1570,3.71,59,24.0,15.0,8.0,3.0,9.0
1572,4.07,14,8.0,3.0,1.0,0.0,2.0